html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* toggle display code block copy-button */
/* [class^='ch-code'] [class$="button"] {
  display: none;
}

[class^='ch-code']:hover [class$="button"] {
  display: block;
} */

[class^='ch-code'] {
  font-family: SFMono-Regular, Consolas;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #2c2c2c;
  }
}
